{{#if data.title.show}}
<header class="journal-page-header">
    <h{{data.title.level}}>{{data.name}}</h{{data.title.level}}>
		{{#if document.system.img}}
			<img src="{{document.system.img}}" />
		{{/if}}
</header>
{{/if}}
<section class="journal-page-content bx-template bx-template--character-class bx-template--view">
	<article class='class-details'>
		<main>
			{{{description}}}

			<h2>{{localize "FACTIONS.templates.characterClass.edit.tabs.features"}}</h2>
			{{#if document.system.featureItems.length}}
				{{> (partial 'document-list.hbs') documentlist=document.system.featureItems nopopout=true }}
			{{else}}
				<p class="empty">{{localize "FACTIONS.templates.characterClass.empty.features.view"}}</p>
			{{/if}}
		</main>
		<aside>
			<dl>
				{{#if document.system.hasPrerequisites}}
				<dt>{{localize "FACTIONS.templates.characterClass.prerequisites"}}</dt>
				<dd>
					{{#each document.system.prerequisitesFormatted}}
						<span>{{this}} {{localize (concat "OSE.scores." @key '.short')}}{{#unless @last}},{{/unless}}</span>
					{{/each}}
				</dd>
				{{/if}}

				<dt>{{localize "FACTIONS.templates.characterClass.primerequisites.label"}}</dt>	
				<dd>
					<table>
						<tr>
							<th>5%</th>
							<td>
								{{#each document.system.halfRequisitesFormatted}}
									{{#if @last}}
										{{#if @root.document.system.primerequisites.halfIsAnd}}
											{{localize "FACTIONS.templates.characterClass.primerequisites.inclusive"}}
										{{else}}
											{{localize "FACTIONS.templates.characterClass.primerequisites.exclusive"}}
										{{/if}}
									{{/if}}

									{{this}} {{localize (concat "OSE.scores." @key '.short')}}
									{{#unless @last}}
										{{#if (gt ../document.system.halfRequisitesCount 2)}}
										,
										{{/if}}
									{{/unless}}
								{{else}}
									<p class="empty">{{localize "FACTIONS.templates.characterClass.empty.primerequisite"}}</p>
								{{/each}}
							</td>
						</tr>
						<tr>
							<th>10%</th>
							<td>
								{{#each document.system.fullRequisitesFormatted}}
									{{#if @last}}
										{{#if @root.document.system.primerequisites.fullIsAnd}}
											{{localize "FACTIONS.templates.characterClass.primerequisites.inclusive"}}
										{{else}}
											={{localize "FACTIONS.templates.characterClass.primerequisites.exclusive"}}
										{{/if}}
									{{/if}}
									
									{{this}} {{localize (concat "OSE.scores." @key '.short')}}

									{{#unless @last}}
										{{#if (gt ../document.system.fullRequisitesCount 2)}}
										,
										{{/if}}
									{{/unless}}
								{{else}}
									<p class="empty">{{localize "FACTIONS.templates.characterClass.empty.primerequisite"}}</p>
								{{/each}}
							</td>
						</tr>
					</table>
				</dd>
				<dt>{{localize "FACTIONS.templates.characterClass.hitDieSize"}}</dt> <dd>d{{document.system.hitDieSize}}</dd>
				<dt>{{localize "FACTIONS.templates.characterClass.maxLevel"}}</dt> <dd>{{document.system.maxLevel}}</dd>
				<dt>{{localize "FACTIONS.templates.characterClass.armor"}}</dt> <dd>{{#if document.system.armor}}{{document.system.armor}}{{else}}{{localize "FACTIONS.templates.characterClass.empty.armor"}}{{/if}}</dd>
				<dt>{{localize "FACTIONS.templates.characterClass.weapons"}}</dt> <dd>{{#if document.system.weapons}}{{document.system.weapons}}{{else}}{{localize "FACTIONS.templates.characterClass.empty.weapons"}}{{/if}}</dd>
				<dt>{{localize "FACTIONS.templates.characterClass.languages"}}</dt> <dd>{{#if document.system.languages}}{{document.system.languages}}{{else}}{{localize "FACTIONS.templates.characterClass.empty.languages"}}{{/if}}</dd>
				{{#if restrictions}}
				<dt>{{localize "FACTIONS.templates.characterClass.restrictions"}}</dt> <dd>{{{restrictions}}}</dd>
				{{/if}}
				{{#if gearTable}}
				<dt>{{localize "FACTIONS.templates.characterClass.gearTable"}}</dt> <dd class="gear-table">{{{gearTable}}}</dd>
				{{/if}}
			</dl>
		</aside>
	</article>

	{{#if data.system.xp}}
	<article>
		<h2>{{localize "FACTIONS.templates.characterClass.edit.tabs.xp"}}</h2>
		<table class="xp-table">
			<colgroup>
				<col span="4" />
				<col span="5" class="saves" />
				{{#each document.system.leveledResources}}
					{{#if pool.length}}
						<col span="{{pool.length}}" class="resource-{{@index}}" />
					{{/if}}
				{{/each}}
			</colgroup>
			<thead>
				<tr>
					<th rowspan="2">{{localize "FACTIONS.templates.characterClass.advancement.level"}}</th>
					<th rowspan="2">{{localize "FACTIONS.templates.characterClass.advancement.xp"}}</th>
					<th rowspan="2">{{localize "FACTIONS.templates.characterClass.advancement.hd"}}</th>
					<th rowspan="2">{{localize "FACTIONS.templates.characterClass.advancement.thac0"}}</th>
					<th colspan="5">{{localize "FACTIONS.templates.characterClass.advancement.saves"}}</th>
					{{#each document.system.leveledResources}}
						{{#if pool.length}}
							<th colspan="{{pool.length}}">{{label}}</th>
						{{/if}}
					{{/each}}
        </tr>
        <tr>
					<th data-tooltip="{{localize "OSE.saves.death.long"}}">D</th>
					<th data-tooltip="{{localize "OSE.saves.wand.long"}}">W</th>
					<th data-tooltip="{{localize "OSE.saves.paralysis.long"}}">P</th>
					<th data-tooltip="{{localize "OSE.saves.breath.long"}}">B</th>
					<th data-tooltip="{{localize "OSE.saves.spell.long"}}">S</th>
					{{#each document.system.leveledResources}}
						{{#each pool}}
						<th>{{label}}</th>
						{{/each}}
					{{/each}}
        </tr>
    	</thead>

			<tbody>
				{{#each data.system.xp as |levelObj index|}}
				<tr>
					<td>{{add index 1}}</td>
					<td>{{levelObj.value}}</td>
					<td>{{levelObj.hd.count}}d{{../document.system.hitDieSize}}{{#if levelObj.hd.modifier}}+{{levelObj.hd.modifier}}{{/if}}{{#unless levelObj.hd.canUseConMod}}*{{/unless}}</td>
					<td>{{levelObj.thac0}} (+{{levelObj.attackBonus}})</td>
					<td data-tooltip="{{localize "OSE.saves.death.long"}}">{{levelObj.saves.death}}</td>
					<td data-tooltip="{{localize "OSE.saves.wand.long"}}">{{levelObj.saves.wands}}</td>
					<td data-tooltip="{{localize "OSE.saves.paralysis.long"}}">{{levelObj.saves.paralysis}}</td>
					<td data-tooltip="{{localize "OSE.saves.breath.long"}}">{{levelObj.saves.breath}}</td>
					<td data-tooltip="{{localize "OSE.saves.spell.long"}}">{{levelObj.saves.spell}}</td>
					{{#each ../document.system.leveledResources}}
						{{#each pool}}
							{{#with (lookup perLevel index) as |value|}}
							<td>{{#if value}}{{value}}{{else}}&ndash;{{/if}}</td>
							{{/with}}
						{{/each}}
					{{/each}}
				</tr>
				{{else}}
					<tr>
						<td colspan="9">
							<p class="empty">{{localize "FACTIONS.templates.characterClass.empty.advancement"}}</p>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<caption>
				<p><em>*</em>: {{localize "FACTIONS.templates.characterClass.advancement.caption.conMod"}}</p>
				<p></p>
			</caption>
		</table>
	</article>
	{{/if}}

	{{#if document.system.hasSpells}}
	<article>
		<h2>{{localize "FACTIONS.templates.characterClass.edit.tabs.spellList"}}</h2>

		{{#each spells}}
			<div class="control control--spell-list spell-list" data-list-type="spells">
				<h3>{{localize "FACTIONS.templates.characterClass.spellLevel" level=(add @index 1)}}</h3>
				{{> (partial 'document-list.hbs') documentlist=this nopopout=true }}
			</div>
		{{/each}}
	</article>
	{{/if}}

</section>