{{#if data.title.show}}
<header class="journal-page-header">
    <h{{data.title.level}}>{{data.name}} ({{data.system.alignment}})</h{{data.title.level}}>
</header>
{{/if}}
<section class="journal-page-content journal-page-content--faction">
	<div class="faction-description">
		{{{description}}}
	</div>
	<article class="reputation-tracker">
		<div class="reputation-item reputation-item--infamy">
			<label for="faction-infamy">{{localize "FACTIONS.reputation.infamy"}}</label>
			<meter
				id="faction-infamy"
				name="faction-infamy"
				min="{{document.system.schema.fields.infamy.min}}"
				max="{{document.system.schema.fields.infamy.max}}"
				value="{{data.system.infamy}}">
			</meter>
		</div>
		<div class="reputation-item reputation-item--reputation">
			<label for="system.reputation">{{localize "FACTIONS.reputation.modifier"}}</label>
			<input type="number" readonly value={{reactionModifier}} />
		</div>
		<div class="reputation-item reputation-item--fame">
			<label for="faction-fame">{{localize "FACTIONS.reputation.fame"}}</label>
			<meter
				id="faction-fame" 
				name="faction-fame"
				min="{{document.system.schema.fields.fame.min}}"
				max="{{document.system.schema.fields.fame.max}}"
				value="{{data.system.fame}}">
			</meter>
		</div>
	</article>

	<article class="faction-information">
		<div class="faction-information__details">
			<div class="faction-information__detail faction-information__detail--goals">
				<h2>{{localize "FACTIONS.goals"}}</h2>
				{{#if goals}}
					{{{goals}}}
				{{else}}
					<p class="empty">{{localize "FACTIONS.empty.goals"}}</p>
				{{/if}}
			</div>
			<div class="faction-information__detail faction-information__detail--territory">
				<h2>{{localize "FACTIONS.territory"}}</h2>
				{{#if territory}}
					{{editor territory target="system.territory" engine=editor.engine editable=false}}
				{{else}}
					<p class="empty">{{localize "FACTIONS.empty.territory"}}</p>
				{{/if}}
			</div>
			<div class="faction-information__detail faction-information__detail--relationships">
				<h2>{{localize "FACTIONS.relationships"}}</h2>
				{{#if relationships}}
					{{editor relationships engine=editor.engine target="system.relationships" editable=false}}
				{{else}}
					<p class="empty">{{localize "FACTIONS.empty.relationships"}}</p>
				{{/if}}
			</div>
		</div>
		<div class="faction-information__members">
			<h2>{{localize "FACTIONS.members.label"}}</h2>

			{{#if reinforcements}}
			{{!-- Replenishment/Reinforcement --}}
			<div class="faction-reinforcement">{{{reinforcements}}}</div>
			{{/if}}

			<section class="faction-member-list">
				<h3>{{localize "FACTIONS.members.notable"}}</h3>
				{{#if (gt notableActors.length 0)}}
					<ul class="faction-members faction-members--notable">
						{{#each notableActors}}
							<li class="faction-member faction-member--notable" data-uuid="{{uuid}}">
								<img src="{{img}}" alt="{{name}}" />
								<span>{{name}}</span>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p class="empty">{{localize "FACTIONS.empty.notables.view"}}</p>
				{{/if}}
			</section>

			<section class="faction-member-list">
				<h3>{{localize "FACTIONS.members.others"}}</h3>
				{{#if (gt memberActors.length 0)}}
					<ul class="faction-members faction-members--others">
						{{#each memberActors}}
							<li class="faction-member faction-member--member" data-uuid="{{actor.uuid}}">
								<img src="{{actor.img}}" alt="{{actor.name}}" />
								<span>{{actor.name}}</span>
								<span>{{number}}x</span>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p class="empty">{{localize "FACTIONS.empty.members.view"}}</p>
				{{/if}}
			</section>
		</div>
	</article>

	{{#if owner}}
	<article class="notes">
		<h2>{{localize "FACTIONS.notes"}}</h2>
		{{#if notes}}
			{{{notes}}}
		{{else}}
			<p class="empty">{{localize "FACTIONS.empty.notes"}}</p>
		{{/if}}
	</article
	{{/if}}
</section>
