<form class="{{cssClass}} flexcol bx-template bx-template--faction bx-template--edit" autocomplete="off">
  {{> journalEntryPageHeader}}

	<nav class="tabs sheet-tabs" data-group="main" aria-role="Form Tab Navigation">
		<a class="item" data-tab="notes">{{localize "FACTIONS.templates.faction.edit.tabs.notes"}}</a>
		<a class="item" data-tab="information">{{localize "FACTIONS.templates.faction.edit.tabs.information"}}</a>
		<a class="item" data-tab="territory">{{localize "FACTIONS.templates.faction.edit.tabs.resources"}}</a>
		<a class="item" data-tab="relationships">{{localize "FACTIONS.templates.faction.edit.tabs.relationships"}}</a>
		<a class="item" data-tab="membership">{{localize "FACTIONS.templates.faction.edit.tabs.membership"}}</a>
	</nav>

	{{!--
		The Notes tab contains an editor intended to be
		frequently updated by the GM. Use it to track faction
		changes, interactions with PCs, and so on.
	--}}
	<div class="tab" data-group="main" data-tab="notes">
    {{editor notes
			target="system.notes"
			class="journal-page-content"
			button=false
			editable=true
    	engine=editor.engine
			collaborate=editor.collaborate
		}}
	</div>

	{{!--
		The Information tab contains less frequently updated
		info for the faction.
	--}}
	<div class="tab" data-group="main" data-tab="information">
		<img data-edit="system.img" src="{{document.system.img}}" class="header-image" />

		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.description"}}</h2>
	    {{editor description
				target="system.description"
				class="journal-page-content"
				button=false
				editable=true
	    	engine=editor.engine
				collaborate=editor.collaborate
			}}
		</div>

		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.goals"}}</h2>
	    {{editor goals
				target="system.goals"
				class="journal-page-content"
				button=false
				editable=true
	    	engine=editor.engine
				collaborate=editor.collaborate
			}}
		</div>
	</div>

	<div class="tab" data-group="main" data-tab="territory">
		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.territory"}}</h2>
			{{editor territory
				target="system.territory"
				class="journal-page-content"
				button=false
				editable=true
				engine=editor.engine
				collaborate=editor.collaborate
			}}
		</div>

		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.resources"}}</h2>
			{{editor resources
				target="system.resources"
				class="journal-page-content"
				button=false
				editable=true
				engine=editor.engine
				collaborate=editor.collaborate
			}}
		</div>
	</div>
	
	{{!--
		The Relationships tab contains controls related to the
		faction's relationships with both the party and
		other factions.
	--}}
	<div class="tab" data-group="main" data-tab="relationships">
		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.alignment.heading"}}</h2>
			<label for="system.alignment">{{localize "FACTIONS.templates.faction.alignment.labelAlignment"}}</label>
			<select name="system.alignment" value="{{data.system.alignment}}">
			{{#select data.system.alignment}}
				{{#each alignmentOptions}}
			  <option value="{{localize this}}">{{localize this}}</option>
				{{/each}}
			{{/select}}
			</select>
			<label for="system.morality">{{localize "FACTIONS.templates.faction.alignment.labelMorality"}}</label>
			<select name="system.morality" value="{{data.system.morality}}">
			{{#select data.system.morality}}
				{{#each moralityOptions}}
			  <option value="{{localize this}}">{{localize this}}</option>
				{{/each}}
			{{/select}}
			</select>
		</div>	
		{{#if canDisplayReputation}}
		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.reputation.label"}}</h2>
			<div class="reputation-controls">
				<label for="system.fame">{{localize "FACTIONS.templates.faction.reputation.fame"}}</label>
				{{rangePicker
					name="system.fame" 
					value=data.system.fame 
					min=document.system.schema.fields.fame.min 
					max=document.system.schema.fields.fame.max 
					step=1
				}}
				<label for="system.infamy">{{localize "FACTIONS.templates.faction.reputation.infamy"}}</label>
				{{rangePicker
					name="system.infamy" 
					value=data.system.infamy 
					min=document.system.schema.fields.infamy.min 
					max=document.system.schema.fields.infamy.max 
					step=1
				}}
			</div>	
		</div>
		{{/if}}
	
		<div class="faction-relationships control">
			<h2>{{localize "FACTIONS.templates.faction.relationships"}}</h2>
	    {{editor relationships
				target="system.relationships"
				class="journal-page-content"
				button=false
				editable=true
	    	engine=editor.engine
				collaborate=editor.collaborate
			}}
		</div>
	</div>	

	{{!--
		The Membership tab contains a list of members, as well as
		info on how the faction replenishes its membership numbers.

		Notable members should have linked tokens.
		Normal members should have unlinked tokens.
	--}}
	<div class="tab" data-group="main" data-tab="membership">
		<div class="control">
			<h2>{{localize "FACTIONS.templates.faction.members.reinforcements"}}</h2>
	    {{editor reinforcements
				target="system.reinforcements"
				class="journal-page-content"
				button=false
				editable=true
	    	engine=editor.engine
				collaborate=editor.collaborate
			}}
		</div>

		<div class="control control--faction-members">
			<section data-list-type="notable">
				<h2>{{localize "FACTIONS.templates.faction.members.notable"}}</h2>
				{{#if notableActors}}
					{{> (bxTemplatePartial 'document-list.hbs') documentlist=notableActors nopopout=true }}
				{{else}}
					<p class="empty">{{localize "FACTIONS.templates.faction.empty.notables.edit"}}</p>
				{{/if}}
			</section>

			<section data-list-type="member">
				<h2>{{localize "FACTIONS.templates.faction.members.others"}}</h2>
				{{#if memberActors.length}}
					{{> (bxTemplatePartial 'document-list.hbs') documentlist=memberActors documentkey="actor" isCountEditable=true nopopout=true}}
				{{else}}
					<p class="empty">{{localize "FACTIONS.templates.faction.empty.members.edit"}}</p>
				{{/if}}
			</section>
		</div>		
	</div>
</form>
